.logo{
	margin: auto;
	margin-top:198px;
	height: 92px;
	width: 272px;
	content:url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
}


#hand{
	cursor: pointer;
}


.searchbar{
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	background-color: ;
	padding-left: 22.2em;
	background-image:url();
}


input:focus{
	outline-color: #0093ff;
	outline-width: 1px;

}


.searchbutton{
	border: ;
	margin-left:auto;
	margin-right:auto;
	background-color: ;
	padding-left: 31.4em;
	margin-top: 31px;
	border-radius: 0px;
}


#submitbutton{
	 
	border: 0px;
	font-weight:bold;
	background-color: #f1f3f3;
	height: 36px;
	width: 125.5px;
	color:#7e7e81;
	font-size: 12.6px;
}


#submitbutton:hover {
	border: 1px solid #7e7e81;
}


.imfeelinglucky{
	display: inline;
	float: left;
	background-color: ;
	margin-left: auto;
	margin-right: auto;
	margin-top:-36px;
	padding-left: 39.8em;
}


#imfeelingluckybutton{
	border: 0px;
	font-weight:bold;
	background-color: #f1f3f3;
	height: 36px;
	width: 142.5px;
	color:#7e7e81;
	font-size: 12.6px;
}

#imfeelingluckybutton:hover{
	border:1px solid #7e7e81;
}



.blackribbon{
	padding: 0px;
	margin-top: 25px;
	margin-left: 608px;
	border:;
	content:url(https://www.google.com/images/icons/hpcg/ribbon-black_68.png);
}

ul{
	list-style-type: none;
	margin-top:10px;
	margin-right: 145px;
	padding:0px;
	overflow:hidden;
	background-color:

	

}

	li{
		float: right;
		border: ;
		margin-top: 10px;
		text-decoration: none;
		
	}	
	a{
		display:block;
		width: 50px;
		border: ;
		margin-top: 5px;
		margin-right:0px;
		text-decoration: none;
		color:black;
		font-family: arial;
		font-size: 12.6px;
	}

	a:hover{
		text-decoration: underline;
	}


.profilepic{
	content:url(http://i.imgur.com/uy5XjNn.png);
	height:40px;
	width: 130px;
	display:block;
	padding:0px;
	margin-right:5px;
	margin-top:-43px;
	border:;
	float:right;
}




.navright{
	border: ;
	position:fixed;
	bottom:0;
	list-style-type: none;
	float: right;
	margin-right:-50px;
	display:block;
	padding:0px;
	background-color:;
	margin-left:1100px;

	}

.navleft{

	position:fixed;
	word-spacing: 40px;
	bottom:0;
	;

	
}
.fuck{
	color:black;
	word-spacing:20px;
	font-size: 13px;
	float:left;
	border: 2px;
	padding:4px;
	font-family: arial;
	border: ;


}
.fucker{
	color:black;
	word-spacing:20px;
	font-size: 13px;
	float:left;
	border: 2px;
	padding:4px;
	font-family: arial;
	border: ;

}

.shit{
	color:black;
	word-spacing:20px;
	font-size: 13px;
	float:left;
	border: 2px;
	padding:4px;
	font-family: arial;
	border: ;

}

ul:hover{
	cursor:pointer;
	text-decoration: underline;
}


.greybar{ 
	background-color: black;
	padding:0px;
	margin-left:-10px;
	margin-right:0px;
	margin-bottom: 0px;
	bottom:0px;
	float:left;
	position:fixed; 
	; 
	display:block;
	opacity: 0.1;
}

input#photo{
	background:url(http://www.htc.com/uploadedimages/common/ditahowto/site_sea/htc-desire-601/748710.png) no-repeat right  6px;
	height:px;
	width:px;
	padding-right:0px;
	padding-left:0px;





}

	

















